@model QuanLyBanGiayASP.Models.Orders

<div style="height:auto; background-color:aliceblue" class="container border">
    <div class="col-12">
        <div class="row" style="padding-top:10px">
            <div class="col-md-4">
                Full Name
            </div>
            <div class="col-6 col-md-8">
                <span>@Model.Customers.CustomerName</span>
            </div>
            <div class="col-6 col-md-4">
                Email
            </div>
            <div class="col-6 col-md-8">
                <span>@Model.Customers.Email</span>
            </div>
            <div class="col-6 col-md-4">
                Phone Number
            </div>
            <div class="col-6 col-md-8">
                <span>@Model.Customers.Phone</span>
            </div>
            <div class="col-6 col-md-4">
                Order Date
            </div>
            <div class="col-6 col-md-8">
               <span>@Model.Address</span>
            </div>

        </div>
    </div>
    <div class="col-12">
        <div class="row" style="padding-top:10px;">
            


        </div>
    </div>
</div>
