@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
                <a style="margin-left:20px;padding-right: 20px" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@await Component.InvokeAsync("UserName")</a>
                <a>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </a>

    }
    else
    {
                <a class="text-dark" style="margin-left:20px;padding-right: 20px" asp-area="Identity" asp-page="/Account/Register">Register</a>
                <a class=" text-dark " style="margin-left:20px;padding-right: 20px" asp-area="Identity" asp-page="/Account/Login">Login</a>
    }