@model QuanLyBanGiayASP.Models.ViewModels.OrderDetailViewModels

@{
    ViewData["Title"] = "Lịch hẹn";
}

<br />

<br />

<br />
<div class="container" style="padding-top:40px">
    <h2 style="text-align:center">Đặt hàng </h2>
    <div class="form-text" style="text-align:center">
        <p>Cuộc hẹn của bạn đã được gửi. Một trong những Đại diện bán hàng tuyệt vời của chúng tôi sẽ sớm liên lạc với bạn.</p>
        <p>
            Xin vui lòng liên hệ với chúng tôi bất cứ lúc nào bạn có bất kỳ câu hỏi.
        </p>
    </div>
    <div class="row">
        <div class="col-6">
            <partial name="~/Views/Shared/_OrderProductDetails.cshtml" model="Model" />
        </div>
        <div class="col-6">
            <partial name="~/Views/Shared/_OrderCustomerDetails.cshtml" model="Model.Order" />
        </div>

    </div>
</div>



