
@using Microsoft.AspNetCore.Http
@using QuanLyBanGiayASP.Extensions
@using QuanLyBanGiayASP.Utility
@using QuanLyBanGiayASP.Models.ViewModels

@inject IHttpContextAccessor HttpContextAccessor



<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900|Oswald:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/style.css">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="~/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/css/core-style.css">
    <link rel="stylesheet" href="~/style.css">

    <link rel="stylesheet" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/jquery.timepicker.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #252525;
            color: white;
            text-align: center;
        }
    </style>
</head>



<body>

    <header class="header_area" style=" background-color:white;padding-top:40px">

        <div class="classy-nav-container breakpoint-off d-flex ">
            <div class="container" style="height:auto;">
                <div class="row">
                    <div class="col-12 col-md-10 ">
                        <div>
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2 ">
                        <div id="google_translate_element"></div>

                        <script type="text/javascript">
                            function googleTranslateElementInit() {
                                new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                            }
                        </script>

                        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                    </div>

                </div>
                <form method="get">
                    <div class="row">
                        <div class="col-3 col-md-2">
                            <a class="nav-brand" style="padding-top:5px" asp-area="Customer" asp-controller="Home" asp-action="Index"><img style="width:100%" src="~/img/core-img/brand1.png" alt=""></a>
                        </div>
                        @if (User.IsInRole(SD.Customer))
                        {
                            <div class="col-1 col-md-4">
                                <a asp-area="Customer" asp-controller="CustomerOrder" asp-action="Index" style=" text-align:center">Đơn Hàng</a>
                            </div>
                        }
                        else
                        {
                            <div class="col-1 col-md-4"></div>
                        }

                        <div class="col-4 col-md-4">
                            @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-2 col-md-1" style="padding-top:2px">
                            <button asp-area="Customer" asp-controller="Shop" asp-action="Index" type="submit" class="fas fa-search" style="height:33px;width:100%;background-color:orange;"></button>
                        </div>

                        <div class="col-2 col-md-1">
                            @if (HttpContextAccessor.HttpContext.Session.Get<List<Amount_Product>>("ssShoppingCart") != null)
                            {
                                <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" style="font-size:20px" class="nav-link">

                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.Get<List<Amount_Product>>("ssShoppingCart").Count;
                                    }
                                    <i class="fas fa-shopping-cart " style="margin-right:10px">(@count)</i> &nbsp;

                                </a>


                            }
                            else
                            {
                                <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link" style="font-size:20px">
                                    <i class="fas fa-shopping-cart"></i> &nbsp;
                                </a>
                            }

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <div class="container-fluid" style="padding-top:30px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 
    <footer class="@*footer*@ footer_area clearfix">

        <div class="container">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="#"><img src="~/img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="shop.html">Cửa hàng</a></li>
                                <li><a href="blog.html">Diễn đàn</a></li>
                                <li><a href="contact.html">Liên lạc</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6" style=" background-color:orange"></div>
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup {
                        background: #fff;
                        clear: left;
                        font: 14px Helvetica,Arial,sans-serif;
                    }
                    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>

                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email' }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div id="mc_embed_signup">
                        <form action="https://gmail.us10.list-manage.com/subscribe/post?u=89f1f5210c271abdb665d5e4c&amp;id=219d2742f2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <h2>Subscribe</h2>
                                <div class="indicates-required"><span class="asterisk">*</span> không đươc để trống</div>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">
                                        Đại chỉ email  <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_89f1f5210c271abdb665d5e4c_219d2742f2" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" style=" background-color:orange" value="Đăng ký" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div>
                        <ul style="color:white;text-align:right">
                            <li><h3 style="padding-bottom:20px;color:white">Chi tiết</h3></li>
                            <li><a>Trang thái mua hàng</a></li>
                            <li><a>Các lựa chọn thanh toán</a></li>
                            <li><a>Giao hàng</a></li>
                            <li><a>Hướng dẫn</a></li>
                            <li><a>Chính sách</a></li>
                            <li><a>Điều khoản sử dụng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div>
                        <ul style="color:white;text-align:right">
                            <li><h3 style="padding-bottom:20px;color:white">Chi tiết</h3></li>
                            <li><a>Trang thái mua hàng</a></li>
                            <li><a>Các lựa chọn thanh toán</a></li>
                            <li><a>Giao hàng</a></li>
                            <li><a>Hướng dẫn</a></li>
                            <li><a>Chính sách</a></li>
                            <li><a>Điều khoản sử dụng</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row align-items-end">
                <!-- Single Widget Area -->
                <!-- Single Widget Area -->
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="~/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/js/jquery.timepicker.js" asp-append-version="true"></script>
    <script>
        $(function () {
            var spinner = $("#tanggiam").spinner();
            $("button").button();
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>

</html>