@model IEnumerable<QuanLyBanGiayASP.Models.TypeProduct>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}
<br />
<br />

<div class="row">
    <div class="col-12">
        <h2 style="text-align:center"> Type List</h2>
    </div><div class="col-9"></div>
    <div class="col-md-3 col-sm-6 text-right">
        <a asp-action="Create" class="btn essence-btn"><i class="fas fa-plus"></i>   &nbsp; New Type</a>
    </div>
</div>
<br />
<div class="container">
    <table class="table table-striped">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.TypePro)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.TypePro)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.ID" />
                </td>
            </tr>

        }
    </table>
</div>



